<main id="singleProduct">
  <nav class="nav bg-body-secondary py-2">
    <a class="nav-link text-capitalize text-black pe-0" routerLink="">
      <i class="fa-solid fa-house-chimney"></i> home /</a
    >
    <a class="nav-link text-capitalize text-black px-1" routerLink=""
      >{{ singleProduct.category }} /</a
    >
    <a class="nav-link text-capitalize text-black px-1 disabled">{{
      singleProduct.title
    }}</a>
  </nav>
  <!-- ====================================================== -->
</main>
