<section
  class="carousel slide home__carousel"
  id="carouselExampleAutoplaying"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div
      class="carousel-item home-carousel__image active p-0 position-relative"
    >
      <div
        class="home-curousel__text mx-auto position-absolute top-50 start-50 translate-middle"
      >
        <h2
          class="text-uppercase text-light"
          data-aos="fade-up"
          data-aos-duration="1500"
        >
          new arrival
        </h2>
        <h6
          class="text-capitalize text-light"
          data-aos="fade-up"
          data-aos-duration="1700"
        >
          hot trending
        </h6>

        <a routerLink="women-dresses">
          <button
            type="button  "
            data-aos="fade-up"
            data-aos-duration="1800"
            class="btn btn-success rounded-0 bg-success px-3 py-2 text-capitalize"
          >
            shop now
          </button></a
        >
      </div>
      <img
        src="./assets/images/home-curoseul1.jpg"
        alt="new arrive image"
        class="d-block w-100"
      />
    </div>
    <div class="carousel-item home-carousel__image p-0 position-relative">
      <div
        class="home-curousel__text mx-auto position-absolute top-50 start-50 translate-middle"
      >
        <h2 class="text-uppercase text-light">new style</h2>
        <h6 class="text-capitalize text-light">boof's collection for men</h6>
        <a routerLink="shoes">
          <button
            type="button  "
            data-aos="fade-up"
            data-aos-duration="1800"
            class="btn btn-success rounded-0 bg-success px-3 py-2 text-capitalize"
          >
            shop now
          </button></a
        >
      </div>
      <img
        src="./assets/images/home-curoseul2.jpg"
        alt="new arrive image"
        class="d-block w-100"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</section>
<!-- ======================CATEGORIES====================== -->
<section class="categories shadow-sm py-5">
  <div class="container">
    <div
      class="categories__text text-center w-50 mx-auto"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <h6 class="text-secondary text-break opacity-75 text-uppercase">
        make the hard way
      </h6>
      <h4 class="text-uppercase text-black text-center">featured categories</h4>
      <hr class="border-1 opacity-75 border-secondary mx-auto" />
      <p class="text-secondary">
        Basel & Co. is a powerful eCommerce theme for Shopify. Visit our shop
        page to see all main features
      </p>
    </div>

    <div
      class="categories__images row container mx-auto my-4"
      data-aos="fade-up"
      data-aos-duration="2000"
    >
      <figure class="categories__img col-md-6 col-12 position-relative">
        <div class="overflow-hidden">
          <img
            class="w-100"
            src="{{ this.womanBag[0].images[1] }}"
            alt="woman bag image"
          />
        </div>
        <figcaption class="position-absolute">
          <a
            routerLink="women-bags"
            class="text-decoration-none text-capitalize bg-white text-black px-4 py-2 fs-6"
            >bag</a
          >
        </figcaption>
      </figure>
      <figure
        class="categories__img col-md-3 col-12 d-flex flex-column justify-content-between"
      >
        <div class="overflow-hidden position-relative">
          <img
            class="w-100"
            src="{{ this.manShoes[1].images[0] }}"
            alt="woman bag image"
          />
          <figcaption class="position-absolute">
            <a
              routerLink="shoes"
              class="text-decoration-none text-capitalize bg-white text-black px-4 py-2 fs-6"
              >footwear</a
            >
          </figcaption>
        </div>
        <div class="overflow-hidden position-relative mt-md-0 mt-3">
          <img
            class="w-100"
            src="{{ this.watches[0].images[1] }}"
            alt="woman bag image"
          />
          <figcaption class="position-absolute">
            <a
              routerLink="watches"
              class="text-decoration-none text-capitalize bg-white text-black px-4 py-2 fs-6"
              >watches</a
            >
          </figcaption>
        </div>
      </figure>
      <figure
        class="categories__img col-md-3 col-12 d-flex flex-column justify-content-between"
      >
        <div class="overflow-hidden position-relative">
          <img
            class="w-100"
            src="{{ this.womanDress[4].images[1] }}"
            alt="woman bag image"
          />
          <figcaption class="position-absolute">
            <a
              routerLink="women-dresses"
              class="text-decoration-none text-capitalize bg-white text-black px-4 py-2 fs-6"
              >woman</a
            >
          </figcaption>
        </div>
        <div class="overflow-hidden position-relative mt-md-0 mt-3">
          <img
            class="w-100"
            src="{{ this.sunglasses[0].images[2] }}"
            alt="woman bag image"
          />
          <figcaption class="position-absolute">
            <a
              routerLink="sunglasses"
              class="text-decoration-none text-capitalize bg-white text-black px-4 py-2 fs-6"
              >sunglasses</a
            >
          </figcaption>
        </div>
      </figure>
    </div>
    <article class="py-3 w-100 bg-black mx-auto">
      <p class="text-uppercase text-center text-white p-0 m-0">
        up to 70% off the entire store!. made with love by
        <a class="text-white link-offset-2" href="">the4 studio</a>
      </p>
    </article>
  </div>
</section>
<!-- ======================products====================== -->
<section class="products container-fluid py-5">
  <div class="products__text text-center w-50 mx-auto">
    <h6 class="text-secondary text-break opacity-75 text-uppercase">
      make the hard way
    </h6>
    <h4 class="text-uppercase text-black text-center">featured products</h4>
    <hr class="border-1 opacity-75 border-secondary mx-auto" />
  </div>
  <!-- =============== -->
  <div class="row justify-content-center my-2">
    <div
      class="card products__card border-0 col-lg-2 col-md-4 col-6 my-3 rounded-0"
      *ngFor="let item of this.menShirts; let i = index"
    >
      <figure class="products__front shadow-sm">
        <img
          src="{{ item.images[0] }}"
          class="card-img-top rounded-0 front__img d-block"
          alt="menShirts"
        />
        <img
          src="{{ item.images[1] }}"
          class="card-img-top rounded-0 back__img d-none"
          alt="menShirts"
        />
      </figure>

      <div class="card-body p-0">
        <a
          routerLink="singleProduct"
          class="card-title link link-secondary mx-auto text-start fw-medium"
          >{{ item.title }}</a
        >
      </div>
      <div
        class="card-footer p-0 mt-4 bg-transparent text-black fw-medium opacity-50 border-0"
      >
        <span class="product__price d-block">${{ item.price.toFixed(2) }}</span>
        <span class="product__addToCart d-none"
          ><i class="fa-solid fa-cart-shopping fs-6"></i> Add to cart</span
        >
      </div>
    </div>
  </div>
  <!-- =============== -->
  <div class="row justify-content-center my-2">
    <div
      class="card products__card border-0 col-lg-2 col-md-4 col-6 my-3 rounded-0"
      *ngFor="let item of this.sunglasses; let i = index"
    >
      <figure class="products__front shadow-sm">
        <img
          src="{{ item.images[2] }}"
          class="card-img-top rounded-0 front__img d-block"
          alt="menShirts"
        />
        <img
          src="{{ item.images[0] }}"
          class="card-img-top rounded-0 back__img d-none"
          alt="menShirts"
        />
      </figure>
      <div class="card-body p-0">
        <a
          routerLink="singleProduct"
          class="card-title link link-secondary mx-auto text-start fw-medium"
          >{{ item.title }}</a
        >
      </div>
      <div
        class="card-footer p-0 mt-4 bg-transparent text-black fw-medium opacity-50 border-0"
      >
        <span class="product__price d-block">${{ item.price.toFixed(2) }}</span>
        <span class="product__addToCart d-none"
          ><i class="fa-solid fa-cart-shopping fs-6"></i> Add to cart</span
        >
      </div>
    </div>
  </div>
  <!-- =============== -->
  <div class="row products__cards justify-content-center my-2">
    <div
      class="card products__card border-0 col-lg-2 col-md-4 col-6 my-3 rounded-0"
      *ngFor="let item of this.womanBag; let i = index"
    >
      <figure class="products__front shadow-sm">
        <img
          src="{{ item.images[0] }}"
          class="card-img-top rounded-0 front__img d-block"
          alt="menShirts"
        />
        <img
          src="{{ item.images[2] }}"
          class="card-img-top rounded-0 back__img d-none"
          alt="menShirts"
        />
      </figure>

      <div class="card-body p-0">
        <a
          routerLink="singleProduct"
          class="card-title link link-secondary mx-auto text-start fw-medium"
          >{{ item.title }}</a
        >
      </div>
      <div
        class="card-footer p-0 mt-4 bg-transparent text-black fw-medium opacity-50 border-0"
      >
        <span class="product__price d-block">${{ item.price.toFixed(2) }}</span>
        <span class="product__addToCart d-none"
          ><i class="fa-solid fa-cart-shopping fs-6"></i> Add to cart</span
        >
      </div>
    </div>
  </div>
</section>
