<main id="cart">
  <!-- ================================================ -->
  <app-navbar></app-navbar>
  <!-- ================================================ -->
  <section class="head bg-black m-0 py-3">
    <div class="container mx-auto text-center">
      <h1 class="text-uppercase text-white">cart</h1>
      <nav aria-label="breadcrumb bg-black " data-bs-theme="dark">
        <ol class="breadcrumb justify-content-center">
          <li class="breadcrumb-item">
            <a class="text-secondary text-decoration-none" href=""
              ><i class="fa-solid fa-house me-1"></i> Home</a
            >
          </li>
          <li
            class="breadcrumb-item text-capitalize active"
            aria-current="page"
          >
            cart
          </li>
        </ol>
      </nav>
    </div>
  </section>
  <!-- ================================================ -->
  <section class="emptyCart" *ngIf="!empty; else showCart"></section>
  <!-- ========================= -->
  <ng-template #showCart>
    <section class="cart-table">
      <div class="container">
        <table class="table table-striped">
          <thead>
            <tr class="w-100">
              <th class="col th1"></th>
              <th class="col th2"></th>
              <th class="col th3 text-uppercase">product</th>
              <th class="col th5 text-uppercase">quantity</th>
              <th class="col th4 text-uppercase">price</th>
              <th class="col th6 text-uppercase">actions</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of this.global?.cart; let i = index">
            <tr class="cart-products">
              <th class="" scope="row">
                <button
                  class="border-0 bg-transparent"
                  (click)="deleteMeal($event)"
                >
                  <i class="fa-solid fa-circle-xmark text-black fs-4"></i>
                </button>
              </th>
              <td>
                <a href="/Product/{{ item.id }}">
                  <img
                    class="cart-img"
                    [src]="item.images[0]"
                    alt="product image"
                  />
                </a>
              </td>
              <td>
                <a
                  href="/Product/{{ item.id }}"
                  class="text-decoration-none text-black"
                  >{{ item.title }}
                </a>
                <br />
                <a
                  href="./collection/{{ item.category }}"
                  class="text-decoration-none text-secondary"
                  >{{ item.category }}</a
                >
              </td>
              <td class="quantity">
                <input
                  type="number"
                  [(ngModel)]="item.quantity"
                  value="1"
                  name="quantity"
                  min="1"
                  class="cart__box border rounded border-dark text-secondary fw-bold text-center"
                />
              </td>
              <td class="product-price" colspan="1">
                ${{ updatePrice(item.quantity, item?.price) }}
              </td>

              <td colspan="2" class="addToWish-button">
                <button
                  type="button"
                  class="btn btn-outline-success product__addToCart mt-2"
                  (click)="this.functions.addToWish(item, $event)"
                >
                  <i
                    class="fa-solid fa-heart fs-6"
                    style="pointer-events: none"
                    aria-hidden="true"
                  ></i>
                </button>
              </td>
              <td>
                {{
                  transform(
                    item?.price,
                    item.quantity,
                    item.quantity * item?.price
                  )
                }}
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr></tr>
          </tfoot>
        </table>
      </div>
    </section>
  </ng-template>
  <!-- ================================================ -->
  <app-footer></app-footer>
</main>
