<main id="about">
  <div
    class="col-3 py-5 my-5 mx-auto"
    *ngIf="this.global.loadingFlag; else ShowGallery"
  >
    <img src="assets/images/load.gif" class="w-100 my-5 py-5" />
  </div>
  <ng-template #ShowGallery>
    <!-- ================================================= -->
    <app-navbar></app-navbar>
    <!-- ==================================================== -->
    <section class="about-us row m-0">
      <div
        class="about-image01 col-md-6 col-12 m-0 p-0"
        data-aos="fade-right"
        data-aos-anchor="#example-anchor"
        data-aos-offset="200"
        data-aos-duration="1500"
      ></div>
      <div
        class="col-md-6 col-12 bg-light"
        data-aos="fade-left"
        data-aos-anchor="#example-anchor"
        data-aos-offset="200"
        data-aos-duration="1500"
      >
        <div class="container py-sm-5 px-sm-4 p-2">
          <div class="about-head">
            <h2 class="about-01 text-white">01</h2>
            <h4 class="about-head01 text-uppercase">who we are</h4>
          </div>
          <div class="about-text">
            <p class="text-secondary fw-light">
              Pour-over art party fashion axe, coloring book poutine bitters
              tacos yr craft beer vexillologist chartreuse activated charcoal
              hot chicken food truck. La croix cronut kogi, kale chips master
              cleanse sriracha 8-bit messenger bag fam. +1 art party quinoa
              waistcoat, ugh tilde pickled scenester keytar vice subway tile
              affogato craft beer. Brooklyn etsy jianbing hammock man bun fanny
              pack, marfa lo-fi locavore tilde trust fund la croix.
            </p>
            <p class="text-secondary fw-light mt-2">
              Schlitz gastropub chicharrones beard enamel pin raw denim
              activated charcoal swag, health goth humblebrag edison bulb.
              Pickled etsy crucifix lumbersexual waistcoat selfies brooklyn,
              tilde hashtag poke aesthetic tofu intelligentsia coloring book.
              Copper mug chambray waistcoat, freegan gastropub edison bulb VHS
              slow-carb sartorial.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- ==================================================== -->
    <section class="team my-5">
      <div class="container">
        <div class="team__head text-center">
          <h2 class="team__main-head text-uppercase">meet our team</h2>
          <h4 class="team__sec-head text-uppercase text-success">
            the right people for your project
          </h4>
          <div class="container team__members row">
            <figure
              class="col-md-4 col col-12"
              *ngFor="let item of this.global.users.slice(0, 3)"
            >
              <img [src]="item?.image" class="img-fluid" alt="person image" />
              <figcaption class="mt-4">
                <h6>{{ item?.firstName }} {{ item?.lastName }}</h6>
                <p class="text-success">{{ item?.company.title }}</p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </section>
    <!-- ==================================================== -->
    <section class="about-work row m-0">
      <div
        class="col-md-6 col-12 bg-light float-end"
        data-aos="fade-right"
        data-aos-anchor="#example-anchor"
        data-aos-offset="200"
        data-aos-duration="1500"
      >
        <div class="container py-sm-5 px-sm-4 p-2">
          <div class="about-head">
            <h2 class="about-01 text-white">02</h2>
            <h4 class="about-head01 text-uppercase">what we do</h4>
          </div>
          <div class="about-text">
            <p class="text-secondary fw-light">
              Keytar letterpress tacos, retro affogato bicycle rights tattooed
              chicharrones poke typewriter butcher. Post-ironic distillery
              pitchfork, organic try-hard venmo lo-fi copper mug tbh raw denim.
              Humblebrag locavore cornhole williamsburg mlkshk mumblecore photo
              booth, knausgaard fixie tilde deep v echo park whatever seitan.
              Jianbing snackwave waistcoat hell of, marfa prism slow-carb
              mustache gastropub poke you probably haven’t heard of them fanny
              pack hot chicken brunch 3 wolf moon.
            </p>
            <p class="text-secondary fw-light mt-2">
              Gochujang tote bag marfa pop-up, cliche small batch photo booth
              slow-carb farm-to-table crucifix put a bird on it fam quinoa
              chicharrones brooklyn. Typewriter pop-up gastropub cray, disrupt
              small batch seitan.
            </p>
          </div>
        </div>
      </div>
      <div
        class="about-image02 col-md-6 col-12 m-0 p-0 float-start"
        data-aos="fade-left"
        data-aos-anchor="#example-anchor"
        data-aos-offset="200"
        data-aos-duration="1500"
      ></div>
    </section>
    <!-- ==================================================== -->
    <app-footer></app-footer>
  </ng-template>
</main>
