/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Pacifico&display=swap");
:root {
  --bs-success-rgb: 26, 173, 163 !important;
}
.container-nav {
  width: 95% !important;
}
.bg-success {
  background-color: rgba(var(--bs-success-rgb));
}
/* ===================navbar=================== */
.navbar-brand,
.link-underline {
  font-size: 0.75rem !important;
}
@media (max-width: 992px) {
  .border-end {
    --bs-border-width: 0px !important;
  }
}
.site-logo img {
  max-width: 196px;
  max-height: 95px;
}
@media (max-width: 991px) {
  .site-logo img {
    max-height: 60px;
    /* max-width: 100%; */
  }
}
@media (max-width: 576px) {
  .site-logo img {
    /* max-height: 60px; */
    max-width: 90px;
  }
}

.navbar__phone {
  width: fit-content;
  text-align: center;
}

.fa-angle-down {
  font-size: 12px;
}
@media (max-width: 992px) {
  .nav-link {
    font-size: 0.8rem !important;
  }
}
@media (max-width: 1200px) {
  .offcanvas-body .nav-link {
    color: white !important;
  }
}
.nav-link__offcanvas:hover,
.active {
  color: rgba(var(--bs-success-rgb)) !important;
  font-weight: bold !important;
  padding-left: 10px;
}
.dropdown-toggle-split {
  border-left: 1px solid #454545 !important;
}
.navlink__home:hover .nav__home {
  display: flex !important;
}
.nav__home {
  max-height: 80vh !important;
}

/* ==================navbar=============== */
/* ==================footer=============== */
.footer__list a {
  font-size: 1rem !important;
}
/* ==================footer=============== */
/* ==================HOME=============== */
.home-curousel__text h6 {
  font-family: Pacifico, serif;
}
@media (min-width: 1100px) {
  .home-curousel__text {
  }
  .home-curousel__text h2 {
    font-size: 100px;
    font-weight: 700;
  }
  .home-curousel__text h6 {
    font-size: 73px;
    font-weight: 500;
  }
}
@media (max-width: 1099px) {
  .home-curousel__text h2 {
    font-size: 50px;
  }
  .home-curousel__text h6 {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .home-curousel__text h2 {
    font-size: 1rem;
  }
  .home-curousel__text h6 {
    font-size: 0.9rem;
  }
}
@media (max-width: 200px) {
  .home__carousel {
  }
  .home-curousel__text h2 {
    font-size: 0.6rem;
  }
  .home-curousel__text h6 {
    font-size: 0.5rem !important;
  }
}
.categories__text {
  font-family: Karla, "MS Sans Serif", Geneva, sans-serif;
}
.categories__text :where(h6, h4) {
  letter-spacing: 2px;
}
.categories__text hr {
  width: 40px;
}
.categories__text p {
  font-family: Lora, "MS Sans Serif", Geneva, sans-serif;
}
.categories__img{
  overflow: hidden !important;
}
.categories__img img{
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.categories__img img:hover{
  padding: 0;
  overflow: hidden;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
/* ==================HOME=============== */
