/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Pacifico&display=swap");
:root {
  --bs-success-rgb: 26, 173, 163 !important;
}
.container-nav {
  width: 95% !important;
}
.bg-success {
  background-color: rgba(var(--bs-success-rgb));
}
/* =========================stars rating============================= */
.rating {
  width: 120px;
  height: 24px;
  position: relative;
  background-color: gray;
}

.rating progress.rating-bg {
  -webkit-appearance: none;
  -moz-appearence: none;
  appearance: none;
  border: none;
  display: inline-block;
  height: 24px;
  width: 100%;
  color: orange;
}

.rating progress.rating-bg::-webkit-progress-value {
  background-color: orange;
}

.rating progress.rating-bg::-moz-progress-bar {
  background-color: orange;
}

.rating svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* ====================================================== */
.categories__text,
.products__text {
  font-family: Karla, "MS Sans Serif", Geneva, sans-serif;
}
.categories__text p,
.products__text p,
.join__logo,
.join__head {
  font-family: "Lora", serif;
}
.categories img,
.products__front,
.review__partners {
  overflow: hidden !important;
  filter: brightness(0.85);
  -webkit-filter: brightness(0.85);
}
/* ======================== background image====================== */
#homePage .shop {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./assets/images/shop-bg.jpg) no-repeat top center / cover;
}
#homePage .join {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./assets/images/home-curoseul1.jpg) no-repeat top center / cover;
}
/* ==========================products============================ */
.products__card {
  overflow: hidden;
  transition: 0.4s !important;
  -webkit-transition: 0.4s !important;
  -moz-transition: 0.4s !important;
  -ms-transition: 0.4s !important;
  -o-transition: 0.4s !important;
}

.products__card:hover :where(.product__price, .front__img) {
  display: none !important;
}
.products__card:hover .products__action {
  display: flex !important;
  right: 22px;
  top: 10px;
}
.products__card:hover :where(.back__img, .product__addToCart) {
  display: block !important;
}
.products__front {
  min-height: 200px !important;
  cursor: pointer;
}
/* ====================================================== */
