<a
  class="scroll p-2 rounded-circle bg-white text-black border border-1 border-dark d-none d-md-block"
  (click)="scrollToTop()"
  ><i class="fa-solid fa-angle-up p-1 fs-4 m-0 text-dark"></i
></a>
<footer class="bg-black">
  <div class="container py-2">
    <div class="d-flex gap-3 justify-content-center fs-5 my-4">
      <a href="" class="link-secondary p-0 m-0"
        ><i class="fa-brands fa-facebook-f fs-5"></i
      ></a>
      <a href="" class="link-secondary p-0 m-0"
        ><i class="fa-brands fa-twitter fs-5"></i
      ></a>

      <a href="" class="link-secondary p-0 m-0"
        ><i class="fa-solid fa-envelope fs-5"></i
      ></a>
    </div>
    <!-- ==================== -->
    <div class="row flex-wrap mt-4 pb-4 border-bottom border-secondary">
      <div class="col-md-3 col-sm-6 col-12 footer__menu1">
        <div class="footer__menu-head pb-2">
          <h6 class="text-capitalize text-white">who we are</h6>
          <hr class="w-25 border-2 opacity-75 text-white m-0" />
        </div>

        <p class="text-secondary pt-1">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero natus
          aperiam veniam. Rerum illum libero temporibus. Nostrum delectus
          eligendi quisquam suscipit adipisci soluta consectetur eum!
        </p>
      </div>
      <div class="col-md-2 col-sm-6 col-12 footer__menu2">
        <div class="footer__menu-head pb-2">
          <h6 class="text-capitalize text-white">our stores</h6>
          <hr class="w-25 border-2 opacity-75 text-white m-0" />
        </div>
        <ul class="footer__list list-unstyled">
          <li class="py-1">
            <a
              href=""
              class="link-offset-2 link-secondary link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-capitalize"
              >mansoura</a
            >
          </li>
          <li class="pb-1">
            <a
              href=""
              class="link-offset-2 link-secondary link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-capitalize"
              >cairo</a
            >
          </li>
          <li class="pb-1">
            <a
              href=""
              class="link-offset-2 link-secondary link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-capitalize"
              >new york</a
            >
          </li>
          <li class="pb-1">
            <a
              href=""
              class="link-offset-2 link-secondary link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-capitalize"
              >london sf</a
            >
          </li>
          <li class="pb-1">
            <a
              href=""
              class="link-offset-2 link-secondary link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-capitalize"
              >los angeles</a
            >
          </li>
        </ul>
      </div>
      <!-- ======= -->
      <div class="col-md-2 col-sm-6 col-12 footer__menu3">
        <div class="footer__menu-head pb-2">
          <h6 class="text-capitalize text-white">information</h6>
          <hr class="w-25 border-2 opacity-75 text-white m-0" />
        </div>

        <ul class="footer__list list-unstyled">
          <li class="py-1">
            <a
              href=""
              class="link-offset-2 link-secondary link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-capitalize"
              >about store</a
            >
          </li>
          <li class="pb-1">
            <a
              href=""
              class="link-offset-2 link-secondary link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-capitalize"
              >new collection</a
            >
          </li>
          <li class="pb-1">
            <a
              routerLink="women-dresses"
              class="link-offset-2 link-secondary link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-capitalize"
              >woman dress</a
            >
          </li>
          <li class="pb-1">
            <a
              href=""
              class="link-offset-2 link-secondary link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-capitalize"
              >contact us</a
            >
          </li>
          <li class="pb-1">
            <a
              href=""
              class="link-offset-2 link-secondary link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-capitalize"
              >los angeles</a
            >
          </li>
        </ul>
      </div>
      <!-- ======= -->
      <div class="col-md-2 col-sm-6 col-12 footer__menu4">
        <div class="footer__menu-head pb-2">
          <h6 class="text-capitalize text-white">footer menu</h6>
          <hr class="w-25 border-2 opacity-75 text-white m-0" />
        </div>

        <ul class="footer__list list-unstyled">
          <li class="py-1">
            <a
              href=""
              class="link-offset-2 link-secondary link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-capitalize"
              >instagram profile
            </a>
          </li>
          <li class="pb-1">
            <a
              href=""
              class="link-offset-2 link-secondary link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-capitalize"
              >new collection</a
            >
          </li>
          <li class="pb-1">
            <a
              routerLink="men-shirts"
              class="link-offset-2 link-secondary link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-capitalize"
              >men shirts</a
            >
          </li>
          <li class="pb-1">
            <a
              href=""
              class="link-offset-2 link-secondary link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-capitalize"
              >contact us</a
            >
          </li>
          <li class="pb-1">
            <a
              href=""
              class="link-offset-2 link-secondary link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-capitalize"
              >latest news</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 col-12 footer__menu5">
        <div class="footer__menu-head pb-2">
          <h6 class="text-capitalize text-white">about the store</h6>
          <hr class="w-25 border-2 opacity-75 text-white m-0" />
        </div>
        <p class="text-secondary pt-1">
          STORE - worldwide fashion store since 1978. We sell over 1000+ branded
          products on our web-site.
        </p>
        <p class="text-secondary pb-1">
          <i class="fa-solid fa-paper-plane"></i> 451 Wall Street, USA, New York
        </p>
        <p class="text-secondary">
          <i class="fa-solid fa-mobile-screen-button"></i> Phone: (064) 332-1233
        </p>
      </div>
    </div>
    <p class="text-secondary fw-meduim text-center pt-4">
      &copy; 2023 Created by
      <span class="text-white text-uppercase">basel diab</span> e-commerce
      solutions.
    </p>
  </div>
</footer>
